* {
  padding: 0;
  margin: 0;
  font-style: normal;
  text-decoration: none;
}

body {
  background-color: #e9e9e9;
}

/* 导航栏部分 */
.head-nav {
  z-index: 10000;
  position: fixed;
  background-color: #2e2e2e;
  left: 0;
  top: 0;
  height: 8vh;
  width: 100vw;
}

.head-nav-logo {
  position: fixed;
  top: -4vh;
  left: 5vw;
  height: 14vh;
  width: 13vw;
  border: none;
}

.search {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 21vw;
  top: 1.2vh;
  border: 1px solid #fff;
  border-radius: 25px;
  height: 5.2vh;
  width: 3%;
  transition: width 0.3s;
}

.search img {
  position: fixed;
  left: 21vw;
  width: 3vw;
  height: 3.5vh;
  cursor: pointer;
}

.search-contents {
  border: none;
  outline: none;
  background-color: #2e2e2e;
  position: relative;
  left: 3vw;
  width: 0px;
  height: 5.2vh;
  font-size: 30px;
  color: white;
}

.search-onclick1 {
  width: 59%;
}

.search-onclick2 {
  width: 50.5%;
}

.self-information {
  position: fixed;
  left: 80.3%;
  top: 1.8%;
  width: 8.4%;
  height: 3.7%;
}

.self-information .character {
  position: fixed;
  display: inline;
  font-size: 30px;
  width: 137px;
  color: #fff;
  cursor: pointer;
}

.self-information .arr {
  position: fixed;
  top: 2.7%;
  left: 88%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: rotate 0.1s;
}

.dropdown {
  background-color: #fff;
  position: fixed;
  z-index: 999;
  transform: translate(80vw, -10.1vh);
  width: 11%;
  height: 17.1%;
  box-shadow: 0 0 2px grey;
  transition: transform 0.5s linear;
}

.drop-content {
  padding-left: 13px;
  border-top: 1px solid black;
  width: 10.3vw;
  height: 4.25vh;
  display: flex;
  align-items: center;
}

.drop-content img {
  width: 25px;
  height: 25px;
}

.drop-content p {
  position: relative;
  font-size: 20px;
  color: #000;
  transition: font-size 0.3s;
  left: 5px;
}

.drop-content p:hover {
  font-size: 25px;
}

/* 侧边栏部分 */
.side-nav {
  z-index: 1000;
  position: fixed;
  top: 27.3%;
  left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 13.6%;
  height: 56%;
}

.side-nav-character {
  padding-left: 1vw;
}

.side-nav-son {
  display: flex;
  flex-wrap: nowrap;
  height: 62px;
  font-size: 52px;
  color: #cac7c7;
  cursor: pointer;
}

.side-nav-son div {
  position: fixed;
  left: 7.5vw;
}

.black-lotus {
  filter: opacity(0);
  position: fixed;
  width: 50px;
  height: 50px;
  left: 75px;
}

.dot {
  position: fixed;
  left: 95px;
  margin-top: 34px;
}

.white-lotus {
  filter: opacity(0);
  position: fixed;
  width: 50px;
  height: 50px;
  left: 75px;
}

.side-nav-son:hover .black-lotus {
  animation: appear 0.3s linear forwards;
}

@keyframes appear {
  from {
    filter: opacity(0);
  }

  to {
    filter: opacity(1);
  }
}

/* 部门介绍 */
.department-intr {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  position: relative;
  width: 600px;
  left: 80vh;
}

.title1 {
  font-size: 110px;
  font-weight: bold;
}

.title2 {
  font-size: 89px;
  font-weight: bold;
}

.running {
  position: relative;
  left: 25vw;
  width: 75vw;
  display: flex;
}

.running-content1 {
  z-index: -1;
  max-width: 25vw;
  height: 39.2vh;
  overflow: hidden;
}

.running-content1 img {
  position: relative;
  left: 0;
  width: 130vw;
  height: 39.2vh;
  animation: running1 8s linear 0s backwards infinite;
}

@keyframes running1 {
  0% {
    transform: translate(-8.99vw, 0);
  }
  11% {
    transform: translate(-8.99vw, 0);
  }
  22% {
    transform: translate(-37.8vw, 0);
  }
  44% {
    transform: translate(-37.8vw, 0);
  }
  55% {
    transform: translate(-65.6vw, 0);
  }
  77% {
    transform: translate(-65.6vw, 0);
  }
  88% {
    transform: translate(-93.4vw, 0);
  }
  100% {
    transform: translate(-93.4vw, 0);
  }
}

@keyframes running2 {
  0% {
    transform: translate(0, 0);
  }
  11% {
    transform: translate(0, 0);
  }
  22% {
    transform: translate(-764px, 0);
  }
  44% {
    transform: translate(-764px, 0);
  }
  55% {
    transform: translate(-1528px, 0);
  }
  77% {
    transform: translate(-1528px, 0);
  }
  88% {
    transform: translate(-2292px, 0);
  }
  100% {
    transform: translate(-2292px, 0);
  }
}

.running-content2 {
  z-index: -1;
  margin-left: 30px;
  width: 764px;
  height: 410px;
  overflow: hidden;
}

.running-container {
  width: 3056px;
  display: flex;
}

.running-contents {
  width: 764px;
  animation: running2 8s linear 0s backwards infinite;
}

.running-contents {
  width: 764px;
  height: 402px;
}

.depart {
  font-size: 47px;
  font-weight: bold;
}

.intro {
  font-size: 38px;
}

/* 视频风采 */
.video-part {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.video-container {
  display: flex;
  justify-content: center;
  width: 72.9vw;
  padding-left: 17.1vw;
}

.video-part .title {
  color: white;
}

.online-video {
  width: 35vw;
  height: 40vh;
}

/* 挑战服务板块 */
.tenzor-service {
  height: 200vh;
  width: 100vw;
  overflow: hidden;
}

.service-arr {
  position: relative;
  width: 100vw;
  height: 80vh;
  left: 95vw;
  top: 30vh;
}

.service-arr-img {
  position: absolute;
  width: 100vw;
  height: 80vh;
  z-index: -1;
}

.service-img-container {
  width: 72.9vw;
  height: 55.5vh;
  margin-left: 242px;
  padding-top: 100px;
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 5;
  grid-template-areas:
    "a a b b c"
    "a a d d d";
}
.film {
  grid-area: a;
  width: 28.7vw;
  height: 58.4vh;
}

.editing {
  grid-area: b;
  width: 25.4vw;
  height: 25.9vh;
}

.customization {
  grid-area: c;
  width: 12.7vw;
  height: 25.9vh;
}

.video-process {
  grid-area: d;
  width: 39.2vw;
  height: 30.7vh;
}

/* 浮动图片部分 */
.img-floating {
  width: 100vw;
  height: 100vh;
}

.img-floating-container {
  position: relative;
}

.eddie-huang {
  z-index: 1;
  position: absolute;
  max-width: 25.4vw;
  max-height: 22.2vh;
  transform: translate(27.4vw, 7.7vh);
  transition: scale 0.2s linear;
}

.happybug {
  z-index: 2;
  position: absolute;
  max-width: 30.7vw;
  max-height: 28.3vh;
  transform: translate(61.2vw, 7.7vh);
  transition: scale 0.2s linear;
}

.lan-er-cheng {
  z-index: 5;
  position: absolute;
  max-width: 47.1vw;
  max-height: 42.2vw;
  transform: translate(33.7vw, 15vh);
  transition: scale 0.2s linear;
}

.yi-qian {
  z-index: 4;
  position: absolute;
  max-width: 30.1vw;
  max-height: 28.4vw;
  transform: translate(30.5vw, 40.8vh);
  transition: scale 0.2s linear;
}

.xia-he-xiao {
  z-index: 3;
  position: absolute;
  max-width: 25.4vw;
  max-height: 22.2vw;
  transform: translate(62.9vw, 53.8vh);
  transition: scale 0.2s linear;
}

.floating:hover {
  scale: 1.1;
}

/* 总结展示部分 */
.general {
  position: relative;
  z-index: 10000;
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.left-poster {
  height: 100vh;
  width: 63.9vw;
  display: flex;
}

.right-poster {
  padding-right: 2vw;
  height: 100vh;
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}

.tech {
  transform: translate(-6.7vw, -2px);
}

.video-department {
  transform: translate(-44.3vw, -2px);
}

.art {
  transform: translate(-45.4vw, -2px);
}

.img-poster {
  position: relative;
  width: 79.1vw;
  height: 100vh;
}

.mask {
  z-index: 40;
  position: absolute;
  background-color: black;
  height: 100%;
  width: 21.3vw;
  mix-blend-mode: color;
  pointer-events: none;
}

.mask1 {
  transform: translate(0, 0);
  transition: transform 0.2s linear;
}

.img-poster-container:hover .mask1 {
  transform: translate(-21.3vw, 0);
}

.mask2 {
  transform: translate(0, 0);
  transition: transform 0.2s linear;
}

.img-poster-container:hover .mask2 {
  transform: translate(0, -100vh);
}

.mask3 {
  transform: translate(0, 0);
  transition: transform 0.2s linear;
}

.img-poster-container:hover .mask3 {
  transform: translate(21.3vw, 0);
}

.img-poster-container {
  width: 21.3vw;
  height: 100vh;
  overflow: hidden;
}

.tenzor {
  position: absolute;
  z-index: 50;
  width: 51vw;
  height: 42.3vh;
  transform: translate(7.3vw, 28.2vh);
  pointer-events: none;
}

.logo-poster {
  position: absolute;
  right: 0;
  top: 5vh;
  width: 15.8vw;
  height: 20.5vh;
}

/* 页脚部分 */
.foot {
  position: relative;
  z-index: 10000;
  width: 100vw;
  background-color: #a2a2a2;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.foot-department {
  display: flex;
}
.foot-department-intro {
  display: flex;
  flex-direction: column;
  width: 25vw;
}

.department-name {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 39px;
  height: 100px;
}

.ability {
  display: flex;
  justify-content: center;
  height: 100px;
  font-size: 30px;
  transition: font-weight 0.3s linear;
}

.ability:hover {
  font-weight: bold;
}
