* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-style: normal;
}

.middle {
  display: flex;
  flex-direction: row;
}

.holder {
  background-color: pink;
  height: 10vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.middle {
  height: 80vh;
}

.nav {
  width: 15vw;
  background-color: red;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  width: 70vw;
  background-color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ads {
  width: 15vw;
  background-color: orange;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer {
  height: 10vh;
  background-color: aqua;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hidden {
  display: none;
}
.content:hover .dispear {
  display: none;
}
.content:hover .hidden {
  display: block;
}

.content:hover img {
  animation: img-ease-in 3s linear forwards;
}

img {
  max-width: 65vw;
  max-height: 70vw;
  filter: opacity(50%);
}

@keyframes img-ease-in {
  0% {
    filter: opacity(0%);
  }
  33% {
    filter: opacity(16.7%);
  }
  67% {
    filter: opacity(33%);
  }
  100% {
    fill: opacity(50%);
  }
}
